@import "sass/components/color-variables";

.detailClick {
  // font-weight: 300;
  // font-size: 0.8em;
  color: color("teal", "darken-1");
}
.detailClick:hover {
  color: color("teal", "darken-5");
  cursor: pointer;
}

.price {
  font-weight: bold;
  font-size: 1.1em;
}
.fine-details {
  // color: red;
  color: color("black", "lighten-4");
  margin: 0;
}
.secondary-badge {
  min-width: 3rem;
  line-height: 22px;
  padding: 3px 6px;
  // margin-left: 10px;
  // margin-right: 10px;
  // margin-bottom: 9px;
  margin: 10px !important;
  text-align: center;
  font-size: 1.6rem;
  color: color("teal", "darken-1");
  box-sizing: border-box;
  font-weight: 300;
  font-size: 0.8rem;
  // background-color: #26a69a;
  border-style: solid;
  border-color: color("teal", "darken-1");
  border-width: 1px;
  border-radius: 2px;
}
.secondary-badge-2 {
  border-style: solid;
  border-color: color("teal", "darken-1");
  border-width: 1px;
  border-radius: 2px;
}

.daterange-hostby {
  display: flex;
  flex-wrap: wrap;

  p {
    margin-right: 15px !important;
  }

  .tcmc-font {
    font-family: "Martel Sans", sans-serif;
    font-weight: 300;
  }
}
.bold {
  font-weight: bold;
}
.weekdays {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  i {
    position: relative;
    top: 3px;
    margin-right: 15px;
    margin-left: 10px;
  }
}
.card-content-2 {
  display: float;
  flex-wrap: wrap;
  padding-left: 0px;
}
.card-vert-header {
  display: flex;
  // float: left;
  max-width: 120px;
  // height: 200px;
}
.card-vert-content {
  display: flex;
}

.shadow {
  box-shadow: inset 0px 3px 3px #333;
}
.availble-table table {
  table-layout: fixed;
  font-weight: 100;
  font-family: "Martel Sans", sans-serif;
}

.avatar-img {
  border-radius: 50%;
  width: 100%;
  max-width: 80px;
  max-height: 80px;
  margin: 0 auto;
}
.card-image.teacher > img {
  border-radius: 50% !important;
  width: 100%;
  max-width: 80px;
  max-height: 80px;
  margin: 0 auto;
}
.card-image.location > img {
  border-radius: none !important;
  max-width: 80px !important;
  max-height: 80px;
  width: 100%;
  margin: 0 auto;
}

.main-buttons {
  display: flex;
  justify-content: space-around;
}
.secondary-button {
  color: teal;
  background-color: white !important;
}

.parallax-container {
  /* min-height: 100vh; */
  line-height: 0;
  height: 1000px;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

.parallax img {
  filter: brightness(55%);
}
.parallax::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #fff 100%
  );
  margin-top: -150px;
  height: 150px;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
.title {
  font-family: "Martel Sans", sans-serif;
  font-weight: 100;
  /* font-size: 6em; */
}
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  position: relative;
  top: -140px;
}
.landing-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

  a {
    letter-spacing: 2px;
    font-weight: lighter;
    color: white;
    margin: 20px;
  }
}

h4 > a {
  position: relative;
  text-decoration: none;
}

h4 > a:hover {
  color: white;
}

h4 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
h4 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
