@import "sass/components/color-variables";

.detailClick {
  color: color("teal", "darken-1");
}
.detailClick:hover {
  color: color("teal", "darken-5");
  cursor: pointer;
}

.price {
  font-weight: bold;
  font-size: 1.1em;
}
.fine-details {
  color: color("black", "lighten-3");
  margin: 0;
}
.secondary-badge {
  min-width: 3rem;
  line-height: 22px;
  padding: 3px 6px;
  margin: 10px !important;
  text-align: center;
  font-size: 1.6rem;
  color: color("teal", "darken-1");
  box-sizing: border-box;
  font-weight: 300;
  font-size: 0.8rem;
  border-style: solid;
  border-color: color("teal", "darken-1");
  border-width: 1px;
  border-radius: 2px;
}
.secondary-badge-2 {
  border-style: solid;
  border-color: color("teal", "darken-1");
  border-width: 1px;
  border-radius: 2px;
}

.daterange-hostby {
  display: flex;
  flex-wrap: wrap;

  p {
    margin-right: 15px !important;
  }

  .tcmc-font {
    font-family: "Martel Sans", sans-serif;
    font-weight: 300;
  }
}
.tcmc-font {
  font-family: "Martel Sans", sans-serif;
  font-weight: 300;
}
.bold {
  font-weight: bold;
}
.weekdays {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  i {
    margin-right: 12px;
    margin-left: 7px;
  }
}
.card-content-2 {
  display: float;
  flex-wrap: wrap;
  padding-left: 0px;
}
.card-vert-header {
  display: flex;
  max-width: 120px;
  // height: 200px;
}
.card-vert-content {
  display: flex;
}

.shadow {
  box-shadow: inset 0px 3px 3px #333;
}
.availble-table table {
  table-layout: fixed;
  font-weight: 100;
  font-family: "Martel Sans", sans-serif;
}

.avatar-img {
  border-radius: 50%;
  width: 100%;
  max-width: 80px;
  max-height: 80px;
  margin: 0 auto;
}
.card-image.teacher > img {
  border-radius: 50% !important;
  width: 100%;
  max-width: 80px;
  max-height: 80px;
  margin: 0 auto;
}
.card-image.location > img {
  border-radius: none !important;
  max-width: 80px !important;
  max-height: 80px;
  width: 100%;
  margin: 0 auto;
}
.card-image.preview > img {
  // background-image: url("https://cdn.shopify.com/s/files/1/1155/3572/articles/listenbody_1400x.progressive.jpg?v=1486176405");
  // background-size: contain;
  // position: absolute;
  // background-position: center;
  // background-repeat: no-repeat;
  // height: 200px;
  // width: 100%;
  max-height: 150px;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
}
.card-image .card-title {
  text-shadow: 2px 1px 7px black;
}

.main-buttons {
  display: flex;
  justify-content: space-around;
}
.secondary-button {
  color: teal;
  background-color: white !important;
}

.parallax-container {
  // line-height: 0;
  height: 1500px;
  // width: 100%;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

.parallax img {
  filter: brightness(70%);
  background-size: contain;
}

.mobile-scroll {
  -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 700px) {
  .parallax img {
    filter: brightness(80%);
    object-fit: cover;

    width: 200px;
    height: 337px;
  }
}

.drop-shadow {
  filter: drop-shadow(30px 10px 4px #4444dd);
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
.title {
  font-family: "Martel Sans", sans-serif;
  font-weight: 100;
}
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  position: relative;
  top: -180px;
}
.landing-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

  a {
    letter-spacing: 2px;
    font-weight: light;
    color: white;
    margin: 20px;
    text-shadow: 0 1px 1px #bbb;
  }
}

h4 > a {
  position: relative;
  text-decoration: none;
}

h4 > a:hover {
  color: white;
}

h4 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
h4 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a > .line-draw:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  color: blue;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.line-draw:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
